body{
    margin: 0px;
}
/* 是标签，  */
.page{
    background: #F7F7F7;
    min-height: 100vh;
}
.header{
    margin-top: 1px;
    margin-bottom: 10px;
    background: #FFFFFF; 
    font-size: 14px;
    line-height: 40px;
}
.pay{
    color:#62CC74 ;
    border-bottom: 2px solid #62CC74 ;
    border-radius: 1px;
}
.wrapper{
    padding-left:18.5px;
    padding-right: 20px;
    background:#FFFFFF;
}
.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* 分割 */
.num{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background:#FFFFFF;
    border-bottom: 2px solid #F7F7F7; 
    line-height:45px; 
} 
.order_num{ 
    font-size: 14px; 
    color: #979797;
} 
.order_pay{
    font-size: 14px; 
    color: #F96C57;
}
/* 分割 */
.content{
    height: 112px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
}
.item{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.square{
    width: 78px;
    height: 48px;
    border: 1px solid #000;
    border-radius: 5px;
    
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
/*  */
.total{
    border-top: 1px solid #F7F7F7;
    height: 83px;
    background: #FFFFFF;
    margin-bottom: 10px; 
    
}
.state{
    display:flex;
    align-items: flex-start;
    font-size: 14px;
    padding-top: 12.5px;
    padding-left: 13px;
}
.font_style1{
   
    color:#393931;
}
.font_style2{
   
    color:#F96C57;
} 
.font_style3{
   
    color:#3D3D3D;
} 
.btn{
    height:28px;
    display: flex;
    justify-content:flex-end;
}
.btn1{
    border:1px solid #000;
    border-radius: 5px; 
    margin-right: 12px; 
    font-size: 13px;
    display:flex;
    align-items: center;
}
.btn2{
    background: #F96C57;
    border-radius: 5px; 
    display:flex;
    align-items: center;
    justify-content: center;
    color:#FFFFFF;
    font-size: 13px;
}

.last{
height: 63px;
position: fixed;
}
