@media screen and(min-width:750px){}
.back
{
    background-image:url(./diandian.png);
    background-size: 652px;
    background-position: center;
    background-attachment: fixed;
    padding-top: 32px;
    padding-left: 49px;
    padding-right:49px;
}    
.box1
{
    width:750px;
    text-align: center;
    font-size: 30px;
    padding-top: 76px; 
    position: relative;
   
}
.box2
{
    width:750px;
    text-align: center;
    padding-top: 40px;
    position: relative;
   
}
.back1
{
    display: flex;
    width:400px;
    height:90px;
    background: #62CC74;
    justify-content: center;
    margin-top: 55px;
    position: relative;
    left: 220px;
    align-items: center;
}

