*{
    margin:0;
    padding:0;
}
.html{
    background: url(./back.jpeg)  no-repeat fixed;
    background-size: cover;
}

.tpt_login{
width: 250px;
height: 200px;
padding:50px 30px;
background: #FFF;
opacity:0.8;
border-radius: 6px;
margin:auto;
position:absolute;
top:0;
left:0;
bottom: 0;
right:0;
}
.tpt_login h2{
    font-size: 20px;
    font-weight: 500;
    padding-bottom:50px;
    text-align: center;
    color:aqua;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button{
    width: 100px;
    background-color: aqua;
    margin-top: 10px;
    border: 0px;
}
.white{
    color:#FFF;
}